html{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;

    background-color: darkgreen;
    background-image: -moz-element();
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
  padding: 20px 0;
  color: darkgreen;
  text-shadow: 3px 3px 1px black;
}

img {
    display: block;
    margin: 0 auto;
  }

p, ol, ul{
    font-size: 16px;
    line-height: 2;
    word-spacing: 1px;
}